
    <div class="headers">
      <h2 class="table-title">Employee List</h2>
      <button type="button" class="btn btn-primary">Add Employee</button>
    </div>
  <table class="table">
    <thead>
      <tr>
        <th>Eid</th>
        <th>Ename</th>
        <th>salary</th>
        <th>Deptid</th>
  
      </tr>
    </thead>

    
  </table>



  <div class="container">
    <br/>
    <h5>Add Employee</h5>
    <div class="row">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="eid" class="form-control"formControlName="eid"  id="floatingInput" placeholder="Eid">
          <label for="floatingInput">Eid</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="Ename" class="form-control" id="floatingInput" formControlName="ename" placeholder="Ename">
          <label for="floatingInput">Ename</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="Salary" class="form-control" id="floatingInput" formControlName="salary" placeholder="Salary">
          <label for="floatingInput">Salary</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="deptid" class="form-control" id="floatingInput" formControlName="deptid" placeholder="Deptid">
          <label for="floatingInput">Deptid</label>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6">
        <div class="form-floating mb-3">
          
        </div>
      </div>
    </div>
  </div>


